*{
    padding: 0px;
    margin: 0px;
}

#headerlogo{
    text-align: center;
    width: 200;
    height: 500;
    background-color: #00d0ff;
}
#University{
    background-color: #00d0ff;
    height: 100px;
    text-align: center;
    font-weight: bold;  
  
}

#para1{
    background-color:white;
    width: 200px;
    text-align: center;
    margin-left: 550px;
}

#headerdetails{
    background-color: black;
    height:35px;
    text-align: center;

}

a{
    margin-right: 250px;
    text-decoration: none;
}

a:hover{
    background-color: #009cc0; 
}

h3{

    margin: 70px;
    text-align: center;
}

#email{
    text-align: center;
}
#content{

    margin: 70px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

#border1{
    border:2px solid black ;
    margin-left: 100px;
    margin-bottom: 20px;
    width: 450px;
    height: 150px;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;

}

form{
    border:2px solid black ;
    margin: 10px;
    margin-bottom: 20px;
    width: 450px;
    height: 200px;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;

}

#para3{
    text-align: center;
    padding: 25px;
}

#formregister{
    border:2px solid black ;
    margin: 10px;
    margin-bottom: 30px;
    margin-left: 400px;
    width: 450px;
    height: 200px;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
}

#preid{
    text-align: center;
    margin: 100px;

}